@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vaccine</h1>
    <img src="https://www.nationsonline.org/gallery/World/World-map-detail.jpg" width="1000">
    <br /><br />
    <p class="lead">Raise an argument against COVID-19</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="https://www.matichon.co.th/wp-content/uploads/2021/11/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2hlLzAvdWQvNS8yODQ2NS92YWNjaW5lLWNvdmlkMTktMi5qcGc-1.jpg" alt="Card image cap" width="578">
            <h2>Vaccinations</h2>
            <p>Vaccination report</p>
            <p><a class="btn btn-primary" href="https://localhost:44325/Vaccinations">Click &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.kapook.com/u/2018/wanchalerm/Men_01_61/EARTH_9_1.jpg" alt="Card image cap" width="550">
            <h2>Country</h2>
            <p>Country report</p>
            <p><a class="btn btn-primary" href="https://localhost:44325/Countries">Click &raquo;</a></p>
        </div>
    </div>
</div>